

params {
    aws_image_tag = null
    aws_image = null
    aws_queue = null
    aws_region = null
    input = null
    output = null
}

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g)"
        }
        process {
            container = "${params.aws_image}:${params.aws_image_tag}"
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            container = "${params.aws_image}:${params.aws_image_tag}"
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }
    aws.region = params.aws_region
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}
